[submodule "UniversalBenchmark/benchmark/data/raw/EverMind-AI/EverMemBench-Static"]
	path = UniversalBenchmark/benchmark/data/raw/EverMind-AI/EverMemBench-Static
	url = https://huggingface.co/datasets/EverMind-AI/EverMemBench-Static
[submodule "UniversalBenchmark/benchmark/data/raw/percena/Locomo/locomo-mc10"]
	path = UniversalBenchmark/benchmark/data/raw/percena/Locomo/locomo-mc10
	url = https://huggingface.co/datasets/Percena/locomo-mc10
[submodule "UniversalBenchmark/benchmark/data/raw/EverMind-AI/EverMemBench-Dynamic"]
	path = UniversalBenchmark/benchmark/data/raw/EverMind-AI/EverMemBench-Dynamic
	url = https://huggingface.co/datasets/EverMind-AI/EverMemBench-Dynamic
[submodule "UniversalBenchmark/benchmark/data/raw/xiaowu0162/LongMemEval/longmemeval-cleaned"]
	path = UniversalBenchmark/benchmark/data/raw/xiaowu0162/LongMemEval/longmemeval-cleaned
	url = https://huggingface.co/datasets/xiaowu0162/longmemeval-cleaned
[submodule "UniversalBenchmark/benchmark/data/raw/Mohammadta/BEAM"]
	path = UniversalBenchmark/benchmark/data/raw/Mohammadta/BEAM
	url = https://huggingface.co/datasets/Mohammadta/BEAM
[submodule "UniversalBenchmark/benchmark/data/raw/Mohammadta/BEAM-10M"]
	path = UniversalBenchmark/benchmark/data/raw/Mohammadta/BEAM-10M
	url = https://huggingface.co/datasets/Mohammadta/BEAM-10M
