[submodule "UniversalBenchmark/benchmark/data/raw/EverMind-AI/EverMemBench-Static"]
	path = UniversalBenchmark/benchmark/data/raw/EverMind-AI/EverMemBench-Static
	url = https://huggingface.co/datasets/EverMind-AI/EverMemBench-Static
